.page {
  height: 100%;
  font-family: var(--font-family);
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
  line-height: 1.65;
  -webkit-text-size-adjust: 100%;
  color: var(--primary-1000);
  background-color: var(--color-white);
  scroll-behavior: smooth;
  overscroll-behavior-y: none;

  &__body {
    margin: 0;
    min-width: 320px;
    min-height: 100%;
  }
}

.site-container {
  @include flex;

  flex-direction: column;
  min-height: 100vh;
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  width: 100%;
  max-width: var(--container-width);
}

.main {
  padding-top: 72px;
}

.logo {
  width: 100%;
  max-width: 123px;

  @include for-width(-mobile-l) {
    max-width: 110px;
  }

  @include for-width(-mobile-md) {
    max-width: 123px;
  }
}

.slogan {
  display: block;
  margin-bottom: 14px;
  font-weight: 700;
  font-size: 19px;
  line-height: 1.37;
  letter-spacing: -0.019em;
  color: var(--secondary-500);

  @include for-width(-mobile-sl) {
    margin-bottom: 7px;
  }
}

.title {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.1;
  letter-spacing: -1px;
  text-align: center;

  span {
    position: relative;
    font-weight: 700;
  }

  @include for-width(-mobile-sl) {
    margin-bottom: 32px;
    font-size: 34px;
    line-height: 1.3;
  }
}

.desc {
  font-weight: 500;
  font-size: 17px;
  line-height: 1.65;
  letter-spacing: -0.3px;
  color: var(--neutral-800);
  opacity: 0.8;
}

.x8 {
  z-index: 10;
}

.f16 {
  box-sizing: content-box;
}

.line {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: url("../assets/img/line.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}