<footer class="footer">
  <div class="container">

    <div class="footer__inner">
      <ul class="footer__nav">
        <li class="footer__item">
          <a href="#home" id="home">
            Home
          </a>
        </li>

        <li class="footer__item">
          <a href="#privacy-policy">{{privacy-policy-title}}</a>
        </li>

        <li class="footer__item">
          <a href="#terms-of-use">{{terms-of-use-title}}</a>
        </li>

        <li class="footer__item">
          <a href="#contact">{{contact-title}}</a>
        </li>

        <li class="footer__item">
          <a href="#rates-and-fees">{{rates-and-fees-title}}</a>
        </li>

        <li class="footer__item">
          <a href="#unsubscribe">{{unsubscribe-title}}</a>
        </li>

        <li class="footer__item">
          <a href="#marketing-practices">{{marketing-practices-title}}</a>
        </li>

        <li class="footer__item">
          <a href="#responsible-lending">{{responsible-lending-title}}</a>
        </li>
      </ul>


      <address class="address">
        <div class="address__item">
          <span class="address__name">
            {{email}}
          </span>

          <a class="address__content" href="mailto:contact@email_address.com">
            contact@email_address.com
          </a>
        </div>

        <div class="address__item">
          <span class="address__name">
            {{address}}
          </span>

          <a class="address__content" href="#">
            001 108st St, Wheatland, WY, 82201
          </a>
        </div>
      </address>
    </div>


    <p>
      {{disclaimer}}
    </p>

    <div class="copy">
      {{copyright}}
    </div>
  </div>
</footer>