<section class="hero" id="home">
  <div class="container">

    <div class="hero__inner">

      <div class="hero__content">
        <span class="slogan">
          We are the best
        </span>

        <h1>
          {{header-title-with-tags}}
        </h1>

        <p class="desc">
          {{header-subtitle}}
        </p>

        <a class="btn btn--large" href="#">
          {{button-name}}
        </a>
      </div>


      <div class="hero__picture">
        <picture>
          <source srcset="../assets/img/hero.avif" type="image/avif">
          <source srcset="../assets/img/hero.webp" type="image/webp">
          <img class="hero__image" src="../assets/img/hero.png" width="505" height="720" alt="Smiling girl" loading="lazy">
        </picture>
      </div>
    </div>

  </div>
</section>