<section class="work" id="work">
  <div class="container">
    <div class="work__inner">

      <div class="work__content">
        <h2 class="title">
          {{how-it-work-subtitle-with-tags}}
        </h2>

        <p class="desc">
          {{how-it-work-text}}
        </p>
      </div>

      <ul class="work__list">

        <li class="work__item">
          <h3>
            {{how-it-work-section-title-1}}
          </h3>

          <p>
            {{how-it-work-section-text-1}}
          </p>
        </li>

        <li class="work__item">
          <h3>
            {{how-it-work-section-title-2}}
          </h3>

          <p>
            {{how-it-work-section-text-2}}
          </p>
        </li>

        <li class="work__item">
          <h3>
            {{how-it-work-section-title-3}}
          </h3>

          <p>
            {{how-it-work-section-text-3}}
          </p>
        </li>
      </ul>

      <a class="btn btn--large btn--reverse" href="#">
        {{button-name}}
      </a>

    </div>
  </div>
</section>