.address {
  width: 100%;
  max-width: 290px;
  letter-spacing: 0.01em;

  &__item {
    &:not(:last-child) {
      margin-bottom: 20px;

      @include for-width(-mobile-sl) {
        margin-bottom: 25px;
      }
    }
  }

  span {
    display: block;
  }

  a {
    letter-spacing: 0;
  }
}