.nav {
  @include flex-all-sb;

  ul {
    @include flex-v-center;

    margin: 0 20px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.75;
    color: vara(--nav-link);
    opacity: 0.8;

    li {
      text-align: center;

      &:not(:last-child) {
        margin-right: rem(40);

        @include for-width(-mobile-l) {
          margin-right: 10px;
        }
      }
    }

    @include for-width(-mobile-l) {
      margin: 0 15px;
    }

    @include for-width(-mobile-md) {
      display: none;
    }
  }
}