<svg xmlns="http://www.w3.org/2000/svg" style="display: none">
    <symbol id="modal-close-icon" viewbox="0 0 256 256">
        <rect width="256" height="256" fill="none"></rect>
        <line x1="200" y1="56" x2="56" y2="200" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="24"></line>
        <line x1="200" y1="200" x2="56" y2="56" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="24"></line>
    </symbol>
</svg>

<div class="x8" id="privacy-policy">
    <a class="g12" href="#"></a>
    <div class="l14">
        <div class="x8__segment k2">
            <div class="cf">{{privacy-policy-title}}</div>
            <a class="x8__icon f16" href="#">
                <svg class="t16">
                    <use xlink:href="#modal-close-icon"></use>
                </svg>
            </a>
        </div>
        <div class="x8__segment z0 k15">
            {{privacy-policy-text}}
        </div>
        <div class="x8__segment id">
            <a class="x8__z11 ya z11 pe" href="#">
                Close
                <svg class="s7">
                    <use xlink:href="#modal-close-icon"></use>
                </svg>
            </a>
        </div>
    </div>
</div>
<div class="x8" id="contact">
    <a class="g12" href="#"></a>
    <div class="l14 s1">
        <div class="x8__segment k2">
            <div class="cf">{{contact-title}}</div>
            <a class="x8__icon f16" href="#">
                <svg class="t16">
                    <use xlink:href="#modal-close-icon"></use>
                </svg>
            </a>
        </div>
        <div class="x8__segment z0 k15">
            {{contact-text}}
            <form class="k6 k6_view_contact">
                <div class="k6__r5 r5 r5_field">
                    <label class="e4" for="contact-name">Name</label>
                    <input class="t10" id="contact-name" type="text">
                </div>
                <div class="k6__r5 r5 r5_field">
                    <label class="e4" for="contact-email">Email</label>
                    <input class="t10" id="contact-email" type="text">
                </div>
                <div class="k6__r5 r5 r5_field r5_textarea">
                    <label class="e4" for="contact-message">Message</label>
                    <textarea class="t10 t10_textarea" id="contact-message" type="text" rows="4"></textarea>
                </div>
                <button class="k6__z11 z11 wb" type="button">Send</button>
            </form>
        </div>
        <div class="x8__segment id">
            <a class="x8__z11 ya z11 pe" href="#">
                Close
                <svg class="s7">
                    <use xlink:href="#modal-close-icon"></use>
                </svg>
            </a>
        </div>
    </div>
</div>
<div class="x8" id="faq">
    <a class="g12" href="#"></a>
    <div class="l14">
        <div class="x8__segment k2">
            <div class="cf">{{faq-title}}</div>
            <a class="x8__icon f16" href="#">
                <svg class="t16">
                    <use xlink:href="#modal-close-icon"></use>
                </svg>
            </a>
        </div>
        <div class="x8__segment z0 k15">
            {{faq-text}}
        </div>
        <div class="x8__segment id">
            <a class="x8__z11 ya z11 pe" href="#">
                Close
                <svg class="s7">
                    <use xlink:href="#modal-close-icon"></use>
                </svg>
            </a>
        </div>
    </div>
</div>
<div class="x8" id="terms-of-use">
    <a class="g12" href="#"></a>
    <div class="l14">
        <div class="x8__segment k2">
            <div class="cf">{{terms-of-use-title}}</div>
            <a class="x8__icon f16" href="#">
                <svg class="t16">
                    <use xlink:href="#modal-close-icon"></use>
                </svg>
            </a>
        </div>
        <div class="x8__segment z0 k15">
            {{terms-of-use-text}}
        </div>
        <div class="x8__segment id">
            <a class="x8__z11 ya z11 pe" href="#">
                Close
                <svg class="s7">
                    <use xlink:href="#modal-close-icon"></use>
                </svg>
            </a>
        </div>
    </div>
</div>
<div class="x8" id="unsubscribe">
    <a class="g12" href="#"></a>
    <div class="l14 s1">
        <div class="x8__segment k2">
            <div class="cf">{{unsubscribe-title}}</div>
            <a class="x8__icon f16" href="#">
                <svg class="t16">
                    <use xlink:href="#modal-close-icon"></use>
                </svg>
            </a>
        </div>
        <div class="x8__segment z0 k15">
            {{unsubscribe-text}}
            <form class="k6 j3">
                <div class="k6__r5 r5 r5_field">
                    <label class="e4" for="unsubscribe-email">Email</label>
                    <input class="t10" id="unsubscribe-email" type="text">
                </div>
                <button class="k6__z11 z11 wb" type="button">Unsubscribe</button>
            </form>
            <div class="dc">
                <span class="m13">or</span>
            </div>
            <form class="k6 j3">
                <div class="k6__r5 r5 r5_field">
                    <label class="e4" for="unsubscribe-phone">Phone</label>
                    <input class="t10" id="unsubscribe-phone" type="text">
                </div>
                <button class="k6__z11 z11 wb" type="button">Unsubscribe</button>
            </form>
        </div>
        <div class="x8__segment id">
            <a class="x8__z11 ya z11 pe" href="#">
                Close
                <svg class="s7">
                    <use xlink:href="#modal-close-icon"></use>
                </svg>
            </a>
        </div>
    </div>
</div>
<div class="x8" id="legal">
    <a class="g12" href="#"></a>
    <div class="l14">
        <div class="x8__segment k2">
            <div class="cf">{{legal-title}}</div>
            <a class="x8__icon f16" href="#">
                <svg class="t16">
                    <use xlink:href="#modal-close-icon"></use>
                </svg>
            </a>
        </div>
        <div class="x8__segment z0 k15">
            {{legal-text}}
        </div>
        <div class="x8__segment id">
            <a class="x8__z11 ya z11 pe" href="#">
                Close
                <svg class="s7">
                    <use xlink:href="#modal-close-icon"></use>
                </svg>
            </a>
        </div>
    </div>
</div>
<div class="x8" id="rates-and-fees">
    <a class="g12" href="#"></a>
    <div class="l14">
        <div class="x8__segment k2">
            <div class="cf">{{rates-and-fees-title}}</div>
            <a class="x8__icon f16" href="#">
                <svg class="t16">
                    <use xlink:href="#modal-close-icon"></use>
                </svg>
            </a>
        </div>
        <div class="x8__segment z0 k15">
            {{rates-and-fees-text}}
        </div>
        <div class="x8__segment id">
            <a class="x8__z11 ya z11 pe" href="#">
                Close
                <svg class="s7">
                    <use xlink:href="#modal-close-icon"></use>
                </svg>
            </a>
        </div>
    </div>
</div>
<div class="x8" id="responsible-lending">
    <a class="g12" href="#"></a>
    <div class="l14">
        <div class="x8__segment k2">
            <div class="cf">{{responsible-lending-title}}</div>
            <a class="x8__icon f16" href="#">
                <svg class="t16">
                    <use xlink:href="#modal-close-icon"></use>
                </svg>
            </a>
        </div>
        <div class="x8__segment z0 k15">
            {{responsible-lending-text}}
        </div>
        <div class="x8__segment id">
            <a class="x8__z11 ya z11 pe" href="#">
                Close
                <svg class="s7">
                    <use xlink:href="#modal-close-icon"></use>
                </svg>
            </a>
        </div>
    </div>
</div>
<div class="x8" id="marketing-practices">
    <a class="g12" href="#"></a>
    <div class="l14">
        <div class="x8__segment k2">
            <div class="cf">{{marketing-practices-title}}</div>
            <a class="x8__icon f16" href="#">
                <svg class="t16">
                    <use xlink:href="#modal-close-icon"></use>
                </svg>
            </a>
        </div>
        <div class="x8__segment z0 k15">
            {{marketing-practices-text}}
        </div>
        <div class="x8__segment id">
            <a class="x8__z11 ya z11 pe" href="#">
                Close
                <svg class="s7">
                    <use xlink:href="#modal-close-icon"></use>
                </svg>
            </a>
        </div>
    </div>
</div>
