.sitename {
  padding: 80px 0;
  text-align: center;

  &__inner {
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
  }

  .slogan {
    margin-bottom: 16px;

    @include for-width(-mobile-sl) {
      margin-bottom: 12px;
    }
  }

  .title {
    margin: 0 auto 34px;
    width: 100%;
    max-width: 450px;

    span {
      position: relative;
      white-space: pre;

      &::before {
        content: "";
        position: absolute;
        bottom: 0px;
        left: -15px;
        height: 5px;
        width: 112%;
        background-image: url("../assets/img/line.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        transform: scale(1, 1.25);

        @include for-width(-mobile-md) {
          left: -3px;
          width: 105%;
        }
      }
    }
  }

  .desc {
    margin-bottom: 49px;

    @include for-width(-mobile-sl) {
      margin-bottom: 31px;
    }
  }

  @include for-width(-mobile-sl) {
    padding: 63px 0;
  }
}