.work {
  clip-path: polygon(0 8.2%, 100% 0, 100% 91.7%, 0% 100%);
  padding: 148px 0;
  background-color: var(--primary-500);

  &__inner {
    @include flex-sb;

    position: relative;

    @include for-width(-mobile-l) {
      flex-direction: column;
    }

    @include for-width(-mobile-sl) {
      margin: 0 auto;
      max-width: 327px;
    }
  }

  &__content {
    margin-right: 20px;
    padding-top: 16px;
    width: 100%;
    max-width: 400px;

    @include for-width(-tablet) {
      padding-top: 0;
    }

    @include for-width(-mobile-l) {
      margin-right: 0;
      margin-bottom: 50px;
      max-width: none;
      text-align: center;
    }
  }

  &__list {
    width: 100%;
    max-width: 633px;

    @include for-width(-mobile-l) {
      margin: 0 auto 50px;
    }

    @include for-width(-mobile-sl) {
      max-width: 319px;
    }
  }

  &__item {
    position: relative;
    padding-left: 40px;

    &::before {
      content: "";
      position: absolute;
      border-radius: 50%;
      left: 0;
      top: 0;
      width: 24px;
      height: 24px;
      background-color: var(--contrast-primary-500);
    }

    &::after {
      content: "";
      position: absolute;
      left: 5px;
      top: 7px;
      width: 15px;
      height: 11px;
      background-image: url("data:image/svg+xml,%3Csvg width='15' height='11' viewBox='0 0 15 11' fill='var(--primary-500)' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.0484 0.485401C13.9587 0.394952 13.852 0.32316 13.7344 0.274167C13.6168 0.225175 13.4906 0.199951 13.3632 0.199951C13.2358 0.199951 13.1097 0.225175 12.9921 0.274167C12.8745 0.32316 12.7678 0.394952 12.6781 0.485401L5.48871 7.68442L2.46821 4.65427C2.37506 4.56429 2.26511 4.49354 2.14462 4.44606C2.02413 4.39858 1.89547 4.37529 1.76599 4.37753C1.6365 4.37977 1.50872 4.40749 1.38995 4.45912C1.27118 4.51074 1.16374 4.58525 1.07376 4.67839C0.983783 4.77154 0.913034 4.88149 0.865551 5.00198C0.818069 5.12247 0.794782 5.25113 0.797023 5.38061C0.799263 5.5101 0.826986 5.63788 0.878608 5.75665C0.93023 5.87542 1.00474 5.98287 1.09788 6.07284L4.80354 9.7785C4.89326 9.86895 4.99999 9.94074 5.11758 9.98974C5.23518 10.0387 5.36131 10.064 5.48871 10.064C5.6161 10.064 5.74223 10.0387 5.85983 9.98974C5.97742 9.94074 6.08416 9.86895 6.17387 9.7785L14.0484 1.90397C14.1463 1.81361 14.2245 1.70393 14.278 1.58186C14.3315 1.45978 14.3591 1.32796 14.3591 1.19469C14.3591 1.06142 14.3315 0.929591 14.278 0.807517C14.2245 0.685443 14.1463 0.575767 14.0484 0.485401V0.485401Z' fill='%transparent'/%3E%3C/svg%3E%0A");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }

    &:not(:last-child) {
      margin-bottom: 24px;

      @include for-width(-mobile-sl) {
        margin-bottom: 33px;
      }
    }
  }

  .title {
    margin-bottom: 35px;
    text-align: left;

    span {
      display: inline-block;
      white-space: pre;

      &::before {
        content: "";
        position: absolute;
        bottom: -19px;
        left: -5px;
        height: 5px;
        width: 100%;
        background-image: url("../assets/img/line.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;


        @include for-width(-mobile-md) {
          bottom: -7px;
          width: 105%;
        }
      }
    }

    @include for-width(-mobile-l) {
      text-align: center;
    }

    @include for-width(-mobile-sl) {
      margin-bottom: 32px;
    }
  }

  .desc {
    margin-bottom: 0;
  }

  .btn {
    position: absolute;
    left: 0;
    bottom: -14px;

    @include for-width(-mobile-l) {
      position: inherit;
      margin: 0 auto;
      bottom: 0;
    }
  }

  h3 {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.1;
    letter-spacing: -0.3px;

    @include for-width(-mobile-sl) {
      font-size: 17px;
      line-height: 1.41;
    }
  }

  p:not(.desc) {
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: -0.15px;
  }

  @include for-width(-mobile-sl) {
    clip-path: polygon(0 4.5%, 100% 0, 100% 95.3%, 0% 100%);
    padding: 111px 0 112px;
  }
}