.work {
  clip-path: polygon(0 8.2%, 100% 0, 100% 91.7%, 0% 100%);
  padding: 148px 0;
  background-color: var(--primary-500);

  &__inner {
    @include flex-sb;

    position: relative;

    @include for-width(-mobile-l) {
      flex-direction: column;
    }

    @include for-width(-mobile-sl) {
      margin: 0 auto;
      max-width: 327px;
    }
  }

  &__content {
    margin-right: 20px;
    padding-top: 16px;
    width: 100%;
    max-width: 400px;

    @include for-width(-tablet) {
      padding-top: 0;
    }

    @include for-width(-mobile-l) {
      margin-right: 0;
      margin-bottom: 50px;
      max-width: none;
      text-align: center;
    }
  }

  &__list {
    width: 100%;
    max-width: 633px;

    @include for-width(-mobile-l) {
      margin: 0 auto 50px;
    }

    @include for-width(-mobile-sl) {
      max-width: 319px;
    }
  }

  &__item {
    position: relative;
    padding-left: 40px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 24px;
      height: 24px;
      background-image: url("../assets/img/check.svg");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }

    &:not(:last-child) {
      margin-bottom: 24px;

      @include for-width(-mobile-sl) {
        margin-bottom: 33px;
      }
    }
  }

  .title {
    margin-bottom: 35px;
    text-align: left;

    span {
      display: inline-block;
    }

    @include for-width(-mobile-l) {
      text-align: center;
    }

    @include for-width(-mobile-sl) {
      margin-bottom: 32px;
    }
  }

  .desc {
    margin-bottom: 0;
  }

  .btn {
    position: absolute;
    left: 0;
    bottom: -14px;

    @include for-width(-mobile-l) {
      position: inherit;
      margin: 0 auto;
      bottom: 0;
    }
  }

  h3 {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.1;
    letter-spacing: -0.3px;

    @include for-width(-mobile-sl) {
      font-size: 17px;
      line-height: 1.41;
    }
  }

  p:not(.desc) {
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: -0.15px;
  }

  @include for-width(-mobile-sl) {
    clip-path: polygon(0 4.5%, 100% 0, 100% 95.3%, 0% 100%);
    padding: 111px 0 112px;
  }
}