:root {
  --font-family-primary: "CeraPro", sans-serif;
  --font-family-secondary: "Didot", sans-serif;
  --content-width: 1300px;
  --container-offset: 16px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --color-white: #fff;
  --color-light: #e9e9e9;
  --color-black: #000;
  --color-text: #777;
  --color-disabled: #d7d7d7;
  --color-invalid: #f54c0f;
  --color-blue: #0e8dd6;
  --color-blue-100: #4fc0ff;
  --color-blue-500: #0071b1;
  --color-blue-700: #00639b;
  --color-background: #f5f5f5;
  --blue-gradient: radial-gradient(51.61% 51.61% at 50% 39.41%, #7adeff 0%, #0180c8 100%);
  --blue-gradient-side: radial-gradient(46.58% 338.82% at 80.85% 60.48%, #7adeff 0%, #0e8dd6 100%);
  --color-border: #dde4e2;
  --color-arrow: #2c3230;
  --radius-btn: 50px;
  --radius-input: 84px;
  --radius-card: 24px;
  --radius-picture: 16px;
}
