.address {
  padding-top: 3px;
  width: 100%;
  max-width: 226px;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: -0.15px;

  &__item {
    &:not(:last-child) {
      margin-bottom: 20px;

      @include for-width(-mobile-sl) {
        margin-bottom: 25px;
      }
    }
  }

  span {
    display: block;
  }
}
