.hero {
  position: relative;
  padding: calc(var(--header-height) + rem(44)) 0 69px;
  background-color: #e4f8f3;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 59.25%, #ffffff 100%), url("../assets/icons/lines.svg");
    background-size: 100% 84%;
    background-repeat: no-repeat;
    background-position: bottom left;

    @include for-width(-mobile-md) {
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 59.25%, #ffffff 100%), url("../assets/icons/lines-mob.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 100% 90%;
    }
  }

  &__inner {
    @include flex-all-sb;

    align-items: flex-end;
    position: relative;
    z-index: 1;

    >* {
      width: 100%;
    }

    @include for-width(-mobile-l) {
      flex-direction: column;
    }
  }

  &__content {
    max-width: 500px;

    @include for-width(-mobile-l) {
      text-align: center;
      margin: 0 auto;
    }

    @include for-width(-mobile-md) {
      margin: 0 auto 59px;
    }
  }

  &__picture {
    --scale: scale(1.1);
    --translate: translate(62px, 29px);

    align-self: flex-start;
    max-width: 633px;
    transform: var(--translate) var(--scale);

    @include for-width(-laptop) {
      --scale: scale(1);
      --translate: translate(30px, 29px);
    }

    @include for-width(-laptop-mac) {
      --translate: translate(0, 29px);
    }

    @include for-width(-tablet) {
      align-self: center;
    }

    @include for-width(-mobile-l) {
      margin: 0 15px;
      max-width: 565px;
    }

    @include for-width(-mobile-sl) {
      --scale: scale(1.12);
      --translate: translate(-4px, 0);
    }
  }

  &__title {
    font-family: var(--font-family-title);
    margin-bottom: 38px;
    padding-top: 43px;
    font-weight: 700;
    font-size: 64px;
    line-height: 1.1;
    letter-spacing: -0.5px;
    text-transform: capitalize;
    color: var(--neutral-750);

    @include for-width(-laptop-mac) {
      padding-top: 0;
      font-size: 40px;
    }

    @include for-width(-mobile-md) {
      width: 95%;
      margin: 0 auto 23px;
      line-height: 1.2;
      letter-spacing: 0.25px;
    }
  }

  &__form {
    max-width: 500px;
    margin-bottom: 32px;

    @include for-width(-mobile-l) {
      margin: 0 auto 32px;
    }

    @include for-width(-mobile-md) {
      margin: 0 auto 23px;
    }
  }

  &__form-area {
    display: block;
    overflow: hidden;
    margin-bottom: 13px;
    border: 1px solid var(--neutral-75);
    border-radius: var(--border-radius);
    padding: 22px 19px;
    width: 100%;
    font-weight: 300;
    font-size: 16px;
    color: var(--neutral-400);
    background-color: var(--color-white);

    &::placeholder {
      color: var(--neutral-750);
      transition: opacity 0.2s linear;
    }

    &:invalid {
      color: var(--accent-450);
    }

    &:focus {
      &::placeholder {
        opacity: 0.3;
      }
    }

    @include for-width(-mobile-md) {
      margin-bottom: 12px;
    }
  }

  &__select {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      right: 20px;
      top: 50%;
      width: 10px;
      height: 8px;
      background-image: url("data:image/svg+xml,%3Csvg width='12' height='' viewBox='0 0 12 7' fill='%23000' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 1L6 6L1 1' stroke-width='1.5' /%3E%3C/svg%3E");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      transform: translateY(-50%);
    }

    select {
      font-weight: 500;
      color: var(--neutral-750);
    }
  }

  .btn {
    padding: 18px 16px;
    width: 100%;

    @include for-width(-mobile-md) {
      padding: 14px;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;

    .list {
      &__item {
        margin-bottom: 0;
        padding-left: 30px;

        &:not(:last-child) {
          margin-right: 15px;
          margin-bottom: 15px;
        }
      }
    }

    br {
      display: none;
    }

    @include for-width(-laptop-mac) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  @include for-width(-mobile-md) {
    padding: var(--header-height) 0 12px;
  }
}