.sitename {
  padding: rem(93) 0 rem(94);
  color: var(--neutral-650);
  background-color: var(--color-teal-400);
  background-image: url('../assets/icons/waves.svg');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100% 76%;

  &__content {
    text-align: center;

    >*:not(form) {
      margin: 0 auto 30px;
      width: 100%;

      @include for-width(-mobile-md) {
        margin: 0 auto 32px;
      }
    }
  }

  &__title {
    max-width: 515px;
  }

  &__text {
    max-width: 900px;
  }

  &__btn {
    @include for-width(-mobile-md) {
      max-width: 185px;
    }
  }

  @include for-width(-tablet) {
    padding: 80px 0;
  }

  @include for-width(-mobile-md) {
    background-image: url('../assets/icons/waves-mob.svg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100% 100%;
  }
}