:root {
  --font-family-primary: 'Poppins', sans-serif;
  --font-family-title: 'Playfair Display', serif;
  --font-family-secondary: "CeraPro", sans-serif;
  --content-width: 1180px;
  --container-offset: 24px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --border-radius: 4px;
  --shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
  --shadow-item: 0 67.1144px 109.061px rgba(0, 0, 0, 0.05);
  --trasparent-black: rgba(255, 255, 255, 0);
}