<section class="choose" id="advantages">
  <div class="container">

    <div class="choose__inner">
      <span class="slogan">
        {{advantages-title}}
      </span>

      <h2 class="title">
        {{advantages-subtitle-with-tags}}
      </h2>

      <p class="desc">
        {{how-it-work-text}}
      </p>

      <ul class="choose__list">
        <li class="choose__item choose__item--secure">

          <h3 class="choose__item-title">
            {{advantages-section-title-4}}
          </h3>

          <p class="choose__item-desc">
            {{advantages-section-text-1}}
          </p>
        </li>

        <li class="choose__item choose__item--fast">

          <h3 class="choose__item-title">
            {{advantages-section-title-2}}
          </h3>

          <p class="choose__item-desc">
            {{advantages-section-text-2}}
          </p>
        </li>

        <li class="choose__item choose__item--pig">

          <h3 class="choose__item-title">
            {{advantages-section-title-3}}
          </h3>

          <p class="choose__item-desc">
            {{advantages-section-text-3}}
          </p>
        </li>

        <li class="choose__item choose__item--simple">

          <h3 class="choose__item-title">
            {{advantages-section-title-1}}
          </h3>

          <p class="choose__item-desc">
            {{advantages-section-text-4}}
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>