<section class="customers">
  <div class="container">
    <div class="customers__inner">

      <div class="customers__content">
        <span class="slogan">
          {{action-title-short}}
        </span>

        <h2 class="title">
          {{action-title-with-tags}}
        </h2>

        <p class="desc">
          {{action-text-short}}
        </p>

        <ul class="customers__numbers">
          <li class="customers__numbers-item">
            <span>
              28K
            </span>

            <span>
              Trusted Users
            </span>
          </li>

          <li class="customers__numbers-item">
            <span>
              10K
            </span>

            <span>
              5 Star Ratings
            </span>
          </li>
        </ul>
      </div>

      <ul class="customers__grid">
        <li class="customers__grid-item">
          <picture>
            <source srcset="../assets/img/say-section/top-left.avif" type="image/avif">
            <source srcset="../assets/img/say-section/top-left.webp" type="image/webp">
            <img class="customers__grid-image" src="../assets/img/say-section/top-left.jpg" width="146" height="146"
              alt="Picture girl" loading="lazy">
          </picture>
        </li>

        <li class="customers__grid-item">
          <picture>
            <source srcset="../assets/img/say-section/top-center.avif" type="image/avif">
            <source srcset="../assets/img/say-section/top-center.webp" type="image/webp">
            <img class="customers__grid-image" src="../assets/img/say-section/top-center.jpg" width="146" height="146"
              alt="Picture girl" loading="lazy">
          </picture>
        </li>

        <li class="customers__grid-item">
          <picture>
            <source srcset="../assets/img/say-section/top-right.avif" type="image/avif">
            <source srcset="../assets/img/say-section/top-right.webp" type="image/webp">
            <img class="customers__grid-image" src="../assets/img/say-section/top-right.jpg" width="146" height="146"
              alt="Picture girl" loading="lazy">
          </picture>
        </li>

        <li class="customers__grid-item">
          <picture>
            <source srcset="../assets/img/say-section/center-left.avif" type="image/avif">
            <source srcset="../assets/img/say-section/center-left.webp" type="image/webp">
            <img class="customers__grid-image" src="../assets/img/say-section/center-left.jpg" width="146" height="146"
              alt="Picture girl" loading="lazy">
          </picture>
        </li>

        <li class="customers__grid-item customers__grid-item--text">
          <span>
            5.0
          </span>

          <svg class="customers__grid-icon customers__grid-icon--desktop">
            <use xlink:href="../assets/img/sprite.svg#stars"></use>
          </svg>

          <svg class="customers__grid-icon customers__grid-icon--mobile">
            <use xlink:href="../assets/img/sprite.svg#stars-mobile"></use>
          </svg>
        </li>

        <li class="customers__grid-item">
          <picture>
            <source srcset="../assets/img/say-section/center-right.avif" type="image/avif">
            <source srcset="../assets/img/say-section/center-right.webp" type="image/webp">
            <img class="customers__grid-image" src="../assets/img/say-section/center-right.jpg" width="146" height="146"
              alt="Picture girl" loading="lazy">
          </picture>
        </li>

        <li class="customers__grid-item">
          <picture>
            <source srcset="../assets/img/say-section/bottom-left.avif" type="image/avif">
            <source srcset="../assets/img/say-section/bottom-left.webp" type="image/webp">
            <img class="customers__grid-image" src="../assets/img/say-section/bottom-left.jpg" width="146" height="146"
              alt="Picture girl" loading="lazy">
          </picture>
        </li>

        <li class="customers__grid-item">
          <picture>
            <source srcset="../assets/img/say-section/bottom-center.avif" type="image/avif">
            <source srcset="../assets/img/say-section/bottom-center.webp" type="image/webp">
            <img class="customers__grid-image" src="../assets/img/say-section/bottom-center.jpg" width="146" height="146"
              alt="Picture girl" loading="lazy">
          </picture>
        </li>


        <li class="customers__grid-item">
          <picture>
            <source srcset="../assets/img/say-section/bottom-right.avif" type="image/avif">
            <source srcset="../assets/img/say-section/bottom-right.webp" type="image/webp">
            <img class="customers__grid-image" src="../assets/img/say-section/bottom-right.jpg" width="146" height="146"
              alt="Picture girl" loading="lazy">
          </picture>
        </li>

      </ul>

    </div>
  </div>
</section>