<section class="faq" id="faq">
  <div class="container">

    <span class="slogan">
      {{apr-alt-title}}
    </span>

    <h2 class="title">
      Have a Question? {{apr-sub-title-with-tags}}
    </h2>

    <ul class="faq-list">
      <li class="faq-list__item">
        <details class="faq-list__faq">
          <summary>
            {{apr-question-1}}
          </summary>

          <div class="faq-list__content">
            <p>
              {{apr-answer-1}}
            </p>
          </div>
        </details>
      </li>

      <li class="faq-list__item">
        <details class="faq-list__faq">
          <summary>
            {{apr-question-2}}
          </summary>

          <div class="faq-list__content">
            <p>
              {{apr-answer-2}}
            </p>
          </div>
        </details>
      </li>

      <li class="faq-list__item">
        <details class="faq-list__faq">
          <summary>
            {{apr-question-3}}
          </summary>

          <div class="faq-list__content">
            <p>
              {{apr-answer-3}}
            </p>
          </div>
        </details>
      </li>

      <li class="faq-list__item">
        <details class="faq-list__faq">
          <summary>
            {{apr-question-4}}
          </summary>

          <div class="faq-list__content">
            <p>
              {{apr-answer-4}}
            </p>
          </div>
        </details>
      </li>

      <li class="faq-list__item">
        <details class="faq-list__faq">
          <summary>
            {{apr-question-5}}
          </summary>

          <div class="faq-list__content">
            <p>
              {{apr-answer-5}}
            </p>
          </div>
        </details>
      </li>

      <li class="faq-list__item">
        <details class="faq-list__faq">
          <summary>
            {{apr-question-6}}
          </summary>

          <div class="faq-list__content">
            <p>
              {{apr-answer-6}}
            </p>
          </div>
        </details>
      </li>

      <li class="faq-list__item">
        <details class="faq-list__faq">
          <summary>
            {{apr-question-7}}
          </summary>

          <div class="faq-list__content">
            <p>
              {{apr-answer-7}}
            </p>
          </div>
        </details>
      </li>
    </ul>

  </div>
</section>