<header class="header">
  <div class="container">
    <nav class="nav">

      <a class="logo" href="#">
        <img src="../assets/logo.svg" class="image" width="80" height="50" alt="SiteName logo" loading="lazy">
      </a>

      <ul>
        <li>
          <a href="#advantages">
            {{advantages-title}}
          </a>
        </li>

        <li>
          <a href="#work">
            {{how-it-works-title}}
          </a>
        </li>

        <li>
          <a href="#about">
            {{about-us-title}}
          </a>
        </li>

        <li>
          <a href="#faq">
            {{faq-title}}
          </a>
        </li>
      </ul>

      <a class="nav__btn btn" href="#">
        {{button-name}}
      </a>
    </nav>
  </div>
</header>