<header class="header">
  <div class="container">
    <nav class="nav">

      <a class="logo" href="#">
        <img src="../assets/img/logo.svg" class="image" width="125" height="40" alt="EasyLoan logo" loading="lazy">
      </a>

      <ul>
        <li>
          <a href="#advantages">
            {{why-us-title}}?
          </a>
        </li>

        <li>
          <a href="#work">
            {{how-it-work-title}}
          </a>
        </li>

        <li>
          <a href="#about">
            {{about-us-title}}
          </a>
        </li>

        <li>
          <a href="#faq">
            {{faq-title}}
          </a>
        </li>
      </ul>

      <a class="btn btn--background nav__action" href="#">
        {{button-name}}
      </a>
    </nav>
  </div>
</header>