.choose {
  &__inner {
    width: 100%;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;

    @include for-width(-tablet) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include for-width(-mobile-md) {
      grid-template-columns: 1fr;
      margin: 0 auto;
      max-width: 475px;
    }
  }

  &__item {
    position: relative;
    line-height: 1.5;

    &:last-child {
      @include for-width(-tablet) {
        grid-column: 1 / span 2;
        margin: 0 auto;
        max-width: 410px;
      }

      @include for-width(-mobile-md) {
        grid-column: auto;
      }
    }

    @include for-width(-mobile-md) {
      margin: 0 auto;
      max-width: 410px;
    }
  }

  &__item-image {
    overflow: hidden;
    margin-bottom: 24px;
    border-radius: var(--radius-card);

    img {
      @include for-width(-mobile-sl) {
        height: 260px;
      }
    }

    @include for-width(-mobile-sl) {
      margin-bottom: 20px;
    }
  }

  &__item-title {
    margin-bottom: 16px;
    font-family: var(--font-family-secondary);
    font-weight: 700;
    font-size: 24px;
    letter-spacing: -0.3px;
    text-transform: capitalize;

    @include for-width(-mobile-sl) {
      margin-bottom: 12px;
      padding-left: 16px;
      letter-spacing: 0.01em;
    }
  }

  &__item-desc {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: var(--color-text);

    @include for-width(-mobile-sl) {
      margin: 0 auto;
      width: 90%;
    }
  }

  .title {
    margin-bottom: 13px;
  }

  .desc {
    margin-bottom: rem(36);

    @include for-width(-mobile-sl) {
      margin: 0 auto 66px;
      width: 90%;
    }
  }
}
