.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  border-radius: var(--radius-btn);
  padding: 6px 15px;
  font-weight: 700;
  font-size: 15px;
  line-height: 1.77;
  white-space: nowrap;
  color: var(--contrast-primary-500);
  background-color: var(--primary-500);

  &:not(.nav__action) {
    @include for-width(-mobile-sl) {
      margin: 0 auto;
      width: 100%;
      max-width: 279px;
    }
  }

  &:has(.nav__action) {
    @include for-width(-mobile-l) {
      padding: 4px 10px;
    }

    @include for-width(-mobile-md) {
      padding: 6px 15px;
    }
  }

  &--reverse {
    background-color: var(--primary-0);
  }

  &--large {
    padding: 12px 51px;
    font-weight: 700;
    font-size: 17px;
  }
}