<header class="header">
  <div class="container">
    <nav class="nav">

      <!--logo-start-->
      <a class="logo" href="#">
        <img src="../assets/logo.svg" class="image" width="80" height="50" alt="{{logo-text}}" loading="lazy">
      </a>
      <!--logo-finish-->

      <ul>
        <li>
          <a href="#advantages">
            {{advantages-title}}
          </a>
        </li>

        <li>
          <a href="#work">
            {{how-it-work-title}}
          </a>
        </li>

        <li>
          <a href="#about">
            {{about-us-title}}
          </a>
        </li>

        <li>
          <a href="#faq">
            {{faq-title}}
          </a>
        </li>
      </ul>


      <form action="#" data-form-name="short-form">
        <button class="nav__btn btn" type="button">
          {{button-name}}
        </button>
      </form>
    </nav>
  </div>
</header>