<header class="header">
  <div class="container">
    <nav class="nav">

      <!--logo-start-->
      <div class="logo" href="#">
        <svg class="logo__image" width="81" height="25" viewBox="0 0 81 25" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_8_387)">
            <path
              d="M80.4754 23.4781L60.4082 3.7013C60.4082 3.7013 32.9087 35.9894 13.091 14.4355C13.091 14.4355 14.3606 13.1315 13.5557 10.5645L23.8987 5.88846C23.8987 5.88846 25.54 7.52971 28.6998 6.69338C28.6998 6.69338 35.0176 14.4972 41.5826 16.1076C41.5826 16.1076 33.7166 10.843 28.3904 0.5L5.22314 10.9669C5.22314 10.9669 17.1766 25.2125 31.0505 24.4692C44.9244 23.7259 60.1604 8.36545 60.1604 8.36545L80.4754 23.4781Z"
              fill="var(--primary-425)" />
            <path
              d="M1.94067 14.5178L5.61556 13.0728C5.61556 13.0728 10.8594 20.9329 23.4945 24.4969C23.4945 24.4969 11.768 23.8497 1.94067 14.5178Z"
              fill="var(--primary-600)" />
            <path
              d="M0 18.1104L3.17937 16.8716C3.17937 16.8716 11.1486 22.9974 19.6109 24.497C19.6109 24.497 11.0656 24.8408 0 18.1104Z"
              fill="var(--primary-775)" />
          </g>
          <defs>
            <clipPath id="clip0_8_387">
              <rect width="80.4754" height="24" fill="white" transform="translate(0 0.5)" />
            </clipPath>
          </defs>
        </svg>

        <span class="logo__name">
          Site Name
        </span>
      </div>
      <!--logo-finish-->

      <ul>
        <li>
          <a href="#advantages">
            {{advantages-title}}
          </a>
        </li>

        <li>
          <a href="#work">
            {{how-it-work-title}}
          </a>
        </li>

        <li>
          <a href="#about">
            {{about-us-title}}
          </a>
        </li>

        <li>
          <a href="#faq">
            {{faq-title}}
          </a>
        </li>
      </ul>


      <form action="#" data-form-name="short-form">
        <button class="nav__btn btn" type="submit">
          {{button-name}}
        </button>
      </form>
    </nav>
  </div>
</header>