<section class="spoiler" id="work">
  <div class="container">
    <div class="spoiler__inner">

      <div class="spoiler__picture">
        <picture>
          <source srcset="../assets/spoiler.webp" type="image/webp">
          <img class="spoiler__image" src="../assets/spoiler.jpg" width="550" height="576"
            alt="{{how-it-work-subtitle}}" loading="lazy">
        </picture>
      </div>


      <div class="spoiler__content">
        <h2 class="spoiler__title title">
          {{how-it-work-subtitle}}
        </h2>

        <ul class="list">
          <li class="list__item list__item--secure">

            <h3 class="list__item-title">
              {{how-it-work-section-title-1}}
            </h3>

            <p class="list__item-desc desc">
              {{how-it-work-section-text-1}}
            </p>
          </li>

          <li class="list__item list__item--fast">

            <h3 class="list__item-title">
              {{how-it-work-section-title-2}}
            </h3>

            <p class="list__item-desc desc">
              {{how-it-work-section-text-2}}
            </p>
          </li>

          <li class="list__item list__item--pig">

            <h3 class="list__item-title">
              {{how-it-work-section-title-3}}
            </h3>

            <p class="list__item-desc desc">
              {{how-it-work-section-text-3}}
            </p>
          </li>
        </ul>

        <form action="#" data-form-name="short-form">
          <button class="btn" type="submit">
            {{button-name}}
          </button>
        </form>
        
      </div>
    </div>
  </div>
</section>