.work {
  &__inner {
    @include flex-all-sb;

    position: relative;

    @include for-width(-tablet-l) {
      align-items: flex-start;
    }

    @include for-width(-mobile-l) {
      flex-direction: column;
    }

    @include for-width(-mobile-sl) {
      margin: 0 auto;
    }
  }

  &__content {
    margin-right: 20px;
    width: 100%;
    min-width: 280px;
    max-width: 320px;

    >* {
      display: block;
      text-align: left;

      @include for-width(-mobile-l) {
        text-align: center;
      }
    }

    @include for-width(-tablet-l) {
      position: sticky;
      top: 30px;
    }

    @include for-width(-mobile-l) {
      position: relative;
      top: 0;
      margin: 0 auto 32px;
      max-width: 475px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    width: 100%;
    max-width: 860px;
    gap: 20px;

    @include for-width(-laptop-mac) {
      max-width: none;
    }

    @include for-width(-mobile-md) {
      grid-template-columns: 1fr;
    }

    @include for-width(-mobile-sl) {
      gap: 11px;
    }
  }

  &__item {
    position: relative;
    overflow: hidden;
    border-radius: var(--radius-card);
    padding: rem(29) rem(29) rem(28);
    background-color: var(--color-white);

    &::before {
      content: "";
      position: absolute;
      left: rem(28);
      top: rem(28);
      width: 40px;
      height: 40px;
      background-image: url("../assets/icons/simple.svg");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;

      @include for-width(-mobile-sl) {
        left: 24px;
        top: 24px;
      }
    }

    p {
      line-height: 1.4;
      letter-spacing: -0.02em;

      @include for-width(-mobile-sl) {
        line-height: 1.5;
      }
    }

    &--simple {
      &::before {
        background-image: url("../assets/icons/simple.svg");
      }
    }

    &--affordable {
      &::before {
        background-image: url("../assets/icons/affordable.svg");
      }
    }

    &--fast {
      &::before {
        background-image: url("../assets/icons/fast.svg");
      }
    }

    &--secure {
      &::before {
        background-image: url("../assets/icons/secure.svg");
      }
    }

    @include for-width(-mobile-sl) {
      padding: 26px 24px 24px;
    }
  }

  h3 {
    margin-bottom: 24px;
    padding-left: 56px;
    font-family: var(--font-family-secondary);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    @include for-width(-mobile-sl) {
      padding-left: 61px;
      font-size: 23px;
    }
  }

  .title {
    margin-bottom: rem(35);

    @include for-width(-mobile-sl) {
      margin-bottom: 15px;
    }
  }

  .desc {
    line-height: 1.4;

    @include for-width(-mobile-sl) {
      line-height: 1.5;
    }
  }
}