.page {
  height: 100%;
  font-family: var(--font-family);
  font-weight: 400;
  font-style: normal;
  font-feature-settings: "pnum"on, "lnum"on;
  font-size: 17px;
  line-height: 1.65;
  -webkit-text-size-adjust: 100%;
  color: var(--color-black);
  background-color: var(--color-white);
  scroll-behavior: smooth;
  overscroll-behavior-y: none;

  &__body {
    margin: 0;
    min-width: 320px;
    min-height: 100%;
  }
}

.site-container {
  @include flex;

  flex-direction: column;
  min-height: 100vh;
}

.hidden {
  display: none !important;
  /* stylelint-disable-line declaration-no-important */
}

.sr-only {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  width: 100%;
  max-width: var(--container-width);
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

.fixed {
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100vh;
    background-color: var(--color-black);
    opacity: 0.3;
  }
}

.input-reset {
  border-color: transparent;
  padding: 15px 30px;
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  background-color: var(--color-noactive);

  &::placeholder {
    color: var(--color-gray);
  }
}

.main {
  padding-top: 72px;
}

.logo {
  width: 100%;
  max-width: 123px;

  @include for-width(-mobile-l) {
    max-width: 110px;
  }

  @include for-width(-mobile-md) {
    max-width: 123px;
  }
}

.slogan {
  display: block;
  margin-bottom: 14px;
  font-weight: 700;
  font-size: 19px;
  line-height: 1.37;
  letter-spacing: -0.019em;
  color: var(--secondary-500);

  @include for-width(-mobile-sl) {
    margin-bottom: 7px;
  }
}

.title {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.1;
  letter-spacing: -1px;
  text-align: center;

  span {
    position: relative;
    font-weight: 700;

    &::before {
      content: "";
      border-top-left-radius: 10px;
      border-bottom-right-radius: 10px;
      position: absolute;
      left: -5px;
      transform-origin: top right;
      transform: skew(73deg);
      bottom: 0;
      width: 100%;
      height: 4px;
      background-color: var(--secondary-500);
    }
  }

  @include for-width(-mobile-sl) {
    margin-bottom: 32px;
    font-size: 34px;
    line-height: 1.3;
  }
}

.desc {
  font-weight: 500;
  font-size: 17px;
  line-height: 1.65;
  letter-spacing: -0.3px;
  color: var(--neutral-800);
  opacity: 0.8;
}

.x8 {
  z-index: 10;
}

.f16 {
  box-sizing: content-box;
}