// colors
:root {
  // base
  --font-family: "Manrope", sans-serif;
  --content-width: 1180px;
  --container-offset: 16px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --color-white: #fff;
  --color-black: #000;
  --neutral-25: #f3f9f8;
  --neutral-100: #dde4e2;
  --neutral-800: #2c3230;
  --primary-500: #00cdb3;
  --primary-925: #1D0E33;
  --nav-link: #042552;
  --secondary-500: #cb56d0;
  --contrast-primary-425: #001f1a;
  --contrast-primary-500: #000;

  // radius
  --radius-btn: 50px;
  --radius-card: 24px;
  --radius-picture: 16px;
}
